CommunityDetails.css

.big-container {
  display: flex;
  margin: 20px;
  height:50% ;
  width: 50%;
  border: 2px solid black; 
  border-radius: 10px;
}

.image-container {
  flex: 1;
  padding: 20px;
}

.content-container {
  flex: 1;
  padding: 20px;
}

h1 {
  color: black;
  font-size: 40px; 
  font-weight: bold ;
  margin-bottom: 10px;
}

p {
  color: black;
  font-size: 40px; 
  line-height: 1.5; 
}

.card-img-top {
  max-width: 100%;
  height: auto;
  border-radius: 20px solid black; 
}
.button{
  border-radius: 20px;
  width: 90px;
  height: 40px;
  color: black;
  font-weight: bolder;
  font-size: larger;
}