/* CommunityDetails.css */

.big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 60%;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .image-container {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .content-container {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    color: #555;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .btn4 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .btn4:hover {
    background-color: #218838;
  }
  